:root {
  --org: #ff4622;
  --plotis: 1000px;
  --sonis-atstumas: calc((100% - var(--plotis)) / 2);
  --main-width: calc(100% + var(--sonis-atstumas));
  --text-width: calc(var(--plotis) * 0.4);
  --text-margin: calc(var(--plotis) * 0.1);
  --image-width: calc(100% - var(--plotis) / 2);
}

body {
  font-family: cursive;
}

header {
  display: inline-block;
  width: var(--plotis);
  margin-left: var(--sonis-atstumas);
}

heder > image {
  float: left;
  height: 40px;
}

nav {
  float: right;
  margin-top: 20px;
}

nav > a {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #2a243d;
  margin-left: 20px;
  border-bottom: 4px solid transparent;
}

nav > a:hover {
  border-color: var(--org);
}

nav > a:first-child {
  margin-left: 0px;
  border-color: var(--org);
}

main {
  display: inline-block;
  width: var(--main-width);
  margin-left: var(--sonis-atstumas);
  margin-top: 60px;
}

div {
  float: left;
  width: var(--text-width);
  margin-right: var(--text-margin);
  margin-top: 70px;
}

h1 {
  display: inline-block;
  width: 100%;
  font-size: 40px;
  margin: 0px;
}

h1 > span {
  color: var(--org);
}

p {
  display: inline-block;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div > a {
  display: inline-block;
  background-color: var(--org);
  margin-top: 20px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}
div > a:hover {
  background-color: #fff;
  color: var(--org);
}

main > image {
  float: left;
  width: var(--image-width);
}
